<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="heading" style="text-align: center; padding-left: 15%; font-family: 'Roboto Slab', serif; color: whitesmoke">Select the Department you want to register a complaint!</h1>
        <div class="left">
            <div class="card top">
                <img src="mess.jpg" alt="food">
                <div class="intro">
                    <h1>Mess</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card middle">
                <img src="hostel.jpg" alt="hostel">
                <div class="intro">
                    <h1>Hostel</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card bottom">
                <img src="academics.jpg" alt="academics">
                <div class="intro">
                    <h1>Academics</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
        </div>

        <div class="center">
            <div class="card top">
                <img src="administration.jpg" alt="building">
                <div class="intro">
                    <h1>Administration</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card middle">
                <img src="sports.jpg" alt="sports">
                <div class="intro">
                    <h1>Sports</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card bottom">
                <img src="student.jpg" alt="student">
                <div class="intro">
                    <h1>Student Welfare</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="card top">
                <img src="women.jpg" alt="women">
                <div class="intro">
                    <h1 style="font-size: 34px">Women Grievances</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card middle">
                <img src="networking.jpg" alt="networking">
                <div class="intro">
                    <h1>Networking</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
            <div class="card bottom">
                <img src="others.jpg" alt="question">
                <div class="intro">
                    <h1>Others</h1>
                    <p><button class="btn" type="submit" href="/register">Register</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>